aioconsole
aiofiles
alembic
anthropic
chromadb>=0.4.2
click
elevenlabs
fastapi
ffmpeg
firebase-admin
google-cloud-speech
httpx
ipywidgets
langchain>=0.0.240
llama_index
openai-whisper
psycopg2-binary
pyaudio
pydantic
pydub
python-dotenv
replicate
simpleaudio
soundfile
SpeechRecognition
sqlalchemy
typing
uvicorn
websockets
firebase_admin
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
